
<div class="container-fluid">
    <div class="card h-100">
        <img src="{{piensoEnviado.imagen}}" class="card-img-top" alt="imagen pienso {{piensoEnviado.nombre}}">
        <div class="card-body">
          <h5 class="card-title">{{piensoEnviado.nombre}} - {{piensoEnviado.peso}} kg</h5>
          <p class="card-text">{{piensoEnviado.descripcion}}</p>
          <p class="card-text text-success" style="font-weight: bold">{{piensoEnviado.precio}} €</p>
          <div class="card-footer d-flex flex-column align-items-center">
            <input type="number" max="{{piensoEnviado.stock}}" min="1" value="1" style="margin-bottom: 1em;" #unidades>
            <a href="#" class="btn btn-primary" (click)="agregarAlCarrito(unidades.value)"> <i class="bi bi-cart-plus"></i> Agregar</a>
        </div>
        </div>
    </div>
</div>