
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Carrito de compras:<i class="bi bi-cart" style="font-size: 24px; margin: 0 10px;"></i></h5>
      <div *ngFor="let producto of carrito.productos">
        <h6 class="card-subtitle text-muted">{{producto.nombre}}</h6>
        <p class="card-text">Unidades: {{producto.cantidad}}</p>
        <p class="card-text">Precio: {{producto.precio}}</p>
      </div>
      <p class="card-text" id="ptotal">{{carrito.total}}</p>
      <a href="#" class="card-link">Comprar</a>
    </div>
</div>
