<div id="misCompras" style="display:none">

    <h5>Total de todas las compras: {{ totalCompras.toFixed(2) }} €</h5>

   <!-- MongooseJS.com  -- API -- MODELS -->
    <div class="container mt-4" style="margin-bottom:3em" *ngFor="let compra of misCompras">

        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Nº Pedido: {{compra.numPedido}} <span style="color:darkgray; font-style: italic; font-weight: lighter;">{{compra.fecha | date:'dd/MM/yyyy'}}</span></h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID Compra</th>
                            <th>Productos</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>










                    <tbody>
                      <!--EJERCICIO 1 DEL EXAMEN. MOSTRAR EL PRIMER PRODUCTO DE LAS COMPRAS DEL USUARIO LOGADO-->
                        <tr *ngIf="compra.productos.length > 0"> <!-- NOS ASEGURAMOS DE QUE HAYA COMPRAS -->
                            <td>{{compra.productos[0].idCompra}}</td>  <!--Y DE CADA COMPRA PILLAMOS LA POSICION 0 DEL PRIMER PRODUCTO-->
                            <td>{{compra.productos[0].nombreProd}}</td>
                            <td>{{compra.productos[0].cantidad}}</td>
                            <td>{{compra.productos[0].totalProd}} €</td>
                        </tr>
                    </tbody>










                </table>
                <div class="text-right">
                    <p style="text-align:right; font-weight: bold">Total Pedido: {{compra.total}} €</p>
                </div>
            </div>
        </div>
    </div>
</div>
