<div id="misCompras" style="display:none">

  <!--COMPONENTE PADRE - EJERCICIO 6-->
  <app-componente-padre></app-componente-padre>


    <h5>Total de todas las compras: {{ totalCompras.toFixed(2) }} €</h5>

   <!-- MongooseJS.com   -- API -- MODELS -->
    <div class="container mt-4" style="margin-bottom:3em" *ngFor="let compra of misCompras">

        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Nº Pedido: {{compra.numPedido}} <span style="color:darkgray; font-style: italic; font-weight: lighter;">{{compra.fecha | date:'dd/MM/yyyy'}}</span></h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID Compra</th>
                            <th>Productos</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let producto of compra.productos">
                        <tr>
                            <td>{{producto.idCompra}}</td>
                            <td>{{producto.nombreProd}}</td>
                            <td>{{producto.cantidad}}</td>
                            <td>{{producto.totalProd}} €</td>

                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <p style="text-align:right; font-weight: bold">Total Pedido: {{compra.total}} €</p>
                </div>
            </div>
        </div>
    </div>
</div>
