<div class="container mt-4" style="margin-bottom:3em">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Nº Pedido: 123123</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID Compra</th>
                        <th>Productos</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Producto A</td>
                        <td>2</td>
                        <td>50 €</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Producto B</td>
                        <td>1</td>
                        <td>30 €</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <p style="text-align:right; font-weight: bold">Total Pedido: 100 €</p>
            </div>
        </div>
    </div>
</div>