<!--TODOS LOS PRODUCTOS-->
<br>
<li class="list-group-item" style="color: #f79191; font-weight: bold; font-size: 1.2em; margin-left: 13px;">Todos</li>

<li class="list-group-item">
  <a (click)="mostrarTodosLosProductos()" style="text-decoration: none; cursor: pointer; color: blue; margin-left: 15px;">Ver todos los productos</a>
</li>


<br>
<ul class="list-group list-group-flush" style="margin-bottom: 7%;">
  <li class="list-group-item" style="color: #f79191; font-weight: bold; font-size: 1.2em;">Perros</li>
  <li class="list-group-item">
    <a (click)="filtrarPorTipo('Perro')" style="text-decoration: none; cursor: pointer; color: blue;">Comida para perros</a>
  </li>
</ul>



<ul class="list-group list-group-flush">
  <li class="list-group-item" style="color: #f79191; font-weight: bold; font-size: 1.2em;">Gatos</li>
  <li class="list-group-item">
    <a (click)="filtrarPorTipo('Gato')" style="text-decoration: none; cursor: pointer; color: blue;">Comida para gatos</a>
  </li>
</ul>



<br>
<ul class="list-group list-group-flush" style="margin-bottom: 7%;">
  <li class="list-group-item" style="color: #f79191; font-weight: bold; font-size: 1.2em;">Roedores</li>
  <li class="list-group-item">
    <a (click)="filtrarPorTipo('Roedor')" style="text-decoration: none; cursor: pointer; color: blue;">Comida para roedores</a>
  </li>
</ul>



<ul class="list-group list-group-flush" style="margin-bottom: 7%;">
  <li class="list-group-item" style="color: #f79191; font-weight: bold; font-size: 1.2em;">Pajaros</li>
  <li class="list-group-item">
    <a (click)="filtrarPorTipo('Pajaro')" style="text-decoration: none; cursor: pointer; color: blue;">Comida para pajaros</a>
  </li>
</ul>



    <!--BOTONES DE PRECIO-->
    <li class="list-group-item" style="color: #f79191; font-weight: bold; font-size: 1.2em;margin-left: 13px;">Precios</li>

    <!-- Input de Rango de Precios Personalizado
    <div style="display: flex; align-items: center; margin-bottom: 15px;">
      <input type="text" placeholder="Mín" style="margin-right: 5px; width: 50px; font-size: 14px;"/>
      <span>-</span>
      <input type="text" placeholder="Máx" style="margin-left: 5px; width: 50px; font-size: 14px; margin-right: 10px;"/>
      <button type="button" class="btn btn-primary">Buscar</button>
    </div>-->


    <div class="form-check">
      <input type="checkbox" id="precio1" name="grupo1" (click)="cambiarFiltroPrecio('0-10')">
      <label for="precio1"> 0 - 10</label>
    </div>


    <div class="form-check">
      <input type="checkbox" id="precio2" name="grupo1" (click)="cambiarFiltroPrecio('11-20')">
      <label for="precio1"> 11 - 20</label>
    </div>


    <div class="form-check">
      <input type="checkbox" id="precio3" name="grupo1" (click)="cambiarFiltroPrecio('21-30')">
      <label for="precio1"> 21 - 30</label>
    </div>


    <div class="form-check">
      <input type="checkbox" id="precio4" name="grupo1" (click)="cambiarFiltroPrecio('31-40')">
      <label for="precio1"> 31 - 40</label>
    </div>


    <div class="form-check">
      <input type="checkbox" id="precio5" name="grupo1" (click)="cambiarFiltroPrecio('41-50')">
      <label for="precio1"> 41 - 50</label>
    </div>


    <div class="form-check">
      <input type="checkbox" id="precio6" name="grupo1" (click)="cambiarFiltroPrecio('51-70')">
      <label for="precio1"> 51 - 70</label>
    </div>



    <!--BOTONES DE PESO-->
    <li class="list-group-item" style="color: #f79191; font-weight: bold; font-size: 1.2em; margin-left: 13px;">Peso</li>


    <!-- Input de Rango de Peso Personalizado
    <div style="display: flex; align-items: center; margin-bottom: 15px;">
      <input type="text" placeholder="Mín" style="margin-right: 5px; width: 50px; font-size: 14px;"/>
      <span>-</span>
      <input type="text" placeholder="Máx" style="margin-left: 5px; width: 50px; font-size: 14px; margin-right: 10px;"/>
      <button type="button" class="btn btn-primary">Buscar</button>
    </div>-->


    <div class="form-check">
      <input type="checkbox" id="peso1" name="grupo2" (click)="cambiarFiltroPeso('0-5')">
      <label for="peso1">0 - 5</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="peso2" name="grupo2" (click)="cambiarFiltroPeso('6-10')">
      <label for="peso1">6 - 10</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="peso3" name="grupo2" (click)="cambiarFiltroPeso('11-15')">
      <label for="peso1">11 - 15</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="peso4" name="grupo2" (click)="cambiarFiltroPeso('16-20')">
      <label for="peso1">16 - 20</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="peso5" name="grupo2" (click)="cambiarFiltroPeso('21-25')">
      <label for="peso1">21 - 25</label>
    </div>

    <br>

