<ul class="list-group list-group-flush" style="margin-bottom: 7%;">
  <li class="list-group-item" style="color: #f79191; font-weight: bold; font-size: 1.2em; ">Perros</li>

  <!--FILTROS PIENSOS PERROS-->
    <li class="list-group-item">
      <a (click)="filtrarPorTipo('Perro')" style="text-decoration: none; cursor: pointer; color: blue;">Comida para perros</a>
    </li>

    <li class="list-group-item"> <a href="#" style="text-decoration: none; color: blue;"> Juguetes para perros </a></li>

  </ul>





  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="color: #f79191; font-weight: bold; font-size: 1.2em;">Gatos</li>

    <!--FILTROS PIENSOS GATOS-->
    <li class="list-group-item">
      <a (click)="filtrarPorTipo('Gato')" style="text-decoration: none; cursor: pointer; color: blue;">Comida para gatos</a>
    </li>

    <li class="list-group-item"> <a href="#" style="text-decoration: none; color: blue;">Juguetes para gatos</a></li>
  </ul>








    <!--BOTONES DE PRECIO-->
    <li class="list-group-item" style="color: #f79191; font-weight: bold; font-size: 1.2em;">Precios</li>
    <div class="form-check">
      <input type="checkbox" id="precio1" name="grupo1"  onclick="precio('precio1')"><label class="form-check-label" for="Precios"> 0 - 10</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="precio2" name="grupo1"  onclick="precio('precio2')"><label class="form-check-label" for="Precios">11 - 20</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="precio3" name="grupo1"  onclick="precio('precio3')"><label class="form-check-label" for="Precios">21 - 30</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="precio4" name="grupo1" onclick="precio('precio4')"><label class="form-check-label" for="Precios">31 - 40</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="precio5" name="grupo1"  onclick="precio('precio5')"> <label class="form-check-label" for="Precios">41 - 50</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="precio6" name="grupo1"  onclick="precio('precio6')"><label class="form-check-label" for="Precios">51 - 60</label>
    </div>






    <!--BOTONES DE PESO-->
    <li class="list-group-item" style="color: #f79191; font-weight: bold; font-size: 1.2em;">Peso</li>
    <div class="form-check">
      <input type="checkbox" id="peso1" name="grupo2" onclick="peso('peso1')"><label class="form-check-label" for="Peso"> 0-5</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="peso2" name="grupo2" onclick="peso('peso2')"><label class="form-check-label" for="Peso">6-10</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="peso3" name="grupo2" onclick="peso('peso3')"><label class="form-check-label" for="Peso">11-15</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="peso4" name="grupo2" onclick="peso('peso4')"><label class="form-check-label" for="Peso">16 - 20</label>
    </div>

    <div class="form-check">
      <input type="checkbox" id="peso5" name="grupo2" onclick="peso('peso5')"><label class="form-check-label" for="Peso">21 - 25</label>
    </div>

