<!--ejercicio1-->
<button (click)="pintar()">Pintar</button>
<div *ngFor="let compra of misCompras">
    <p>{{compra.emailUsuario}}</p>
    <div *ngFor="let product of compra.productos">nombre: {{product.nombreProd}} cantidad: {{product.cantidad}}</div>
    <hr>
</div>

<!--ejercicio 4-->
<br>
<br>
<app-epadre4></app-epadre4>



<!--PRODUCTOS-->
<div class="row">
    <div class="col-md-2">
            <app-latizq></app-latizq>
    </div>
    <div class="col-md-7">

        <div class="row">
            <!--PANEL MIS COMPRAS-->
            <app-mis-compras></app-mis-compras>
            <!--PANEL ADMIN-->
            <app-panel-admin></app-panel-admin>
            <div *ngFor="let pienso of piensoService.piensos" class="col-md-4" style="margin-bottom: 3%">
              <app-producto [piensoEnviado]="pienso"></app-producto>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <app-latder></app-latder>
    </div>
</div>



