<!--PRODUCTOS-->
<div class="row">
    <div class="col-md-2">
            <app-latizq></app-latizq>
    </div>
    <div class="col-md-7">
        <!--ejercicio 55-->
        <div style="background-color:hotpink" *ngFor="let nom of nombres">
            {{nom}}
        </div>


            <!-- ejercicio 17 -->
            <!-- <app-epadre17></app-epadre17><br> -->


            <!--ejercicio 16-->
            <!-- <app-epadre16></app-epadre16> -->



        <div class="row">
            <!--PANEL MIS COMPRAS-->
            <app-mis-compras></app-mis-compras>
            <!--PANEL ADMIN-->
            <app-panel-admin></app-panel-admin>
            <div *ngFor="let pienso of piensoService.piensos" class="col-md-4" style="margin-bottom: 3%">
              <app-producto [piensoEnviado]="pienso"></app-producto>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <app-latder></app-latder>
    </div>
</div>



