<!--este es el contenedor principal, añadimos fondos, padding, centramos y letras en negro-->
<div class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary" style="padding: 20px; color: black; text-align: center;">
  
    <!--contenedor central para el texto y los logos-->
    <div style="display: inline-block; margin-top: 20px; text-align: center;">
  
      <!--DIRECCION-->
      <div style="text-align: center;">
        <h3 style="color: black;">Datos de contacto</h3>
        <p>Email: infopetify.com</p>
        <p>Teléfono: 924 23 43 12</p>
        <p>Dirección: Calle GuauGuau 123</p>
      </div>
  
      <!--ICONOS-->
      <div style="display: flex; justify-content: center; margin-top: 20px; margin-left: auto;">
        <i class="bi bi-facebook" style="font-size: 24px; margin: 0 10px;"></i>
        <i class="bi bi-youtube" style="font-size: 24px; margin: 0 10px;"></i>
        <i class="bi bi-twitter" style="font-size: 24px; margin: 0 10px;"></i>
        <i class="bi bi-linkedin" style="font-size: 24px; margin: 0 10px;"></i>
        <i class="bi bi-instagram" style="font-size: 24px; margin: 0 10px;"></i>
      </div>
  
      <p style="margin-top: 20px;">© 2023 Petify | Todos los derechos reservados</p>
    </div>
  
    <!-- Segunda imagen a la derecha -->
    <div style="float: right;">
      <img src="assets/images/logopet.png" class="img-fluid img-transparent" alt="logo petify" width="150" height="150">
    </div>
  
    <div style="clear: both;"></div>
  
  </div>
  